:root {
  font-family: "Proxima Nova", Verdana, "Avenir Next";
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image:url("https://img.freepik.com/premium-photo/abstract-dark-background-with-smooth-soft-lines_476363-368.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
}